/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 
/* CSS REQUIRED */
.state-icon {
    left: -5px;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}

/* DEMO ONLY - REMOVES UNWANTED MARGIN */
.well .list-group {
    margin-bottom: 0px;
}

 $accent: #ff4081;
 $primary: #1976d2;

 body > div {
 	padding: 20px 40px;
 }

 nav {
 	ul { margin: 20px 0 0 0; padding: 0; }
 	li {
 		display: inline-block;
 		margin-right: 5px;

 		a {
 			display: inline-block;
 			padding: 8px 10px;
 			color: #bada55;
 			text-decoration: none;

 			&:hover {
 				color: darken(#bada55, 20%);
 				background: lighten(#bada55, 30%);
 			}
 		}

 		&.current {
 			a {
 				color: #fff;
 				background: $accent;
 			}
 		}
 	}
 }

 // .content {
 // 	display: inline-block;
 // 	padding: 20px;
 // 	background: $accent;

 // 	img { max-width: 100%; }
 // }